body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Your code here */

header {
    background-color: mediumseagreen;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;

}

section {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin: 20px;
}